
.LoginPageWrapper
{
   
    position: relative;
    width: 400px;
    height: 500px;
    background: linear-gradient(#efbbff, #91b8e5);
    border-radius: 15px;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    text-align: center;
}

.LoginPageInputHolder
{
    border: none;
    margin-top: 15px;
}





.LoginPageInputHolder input
{
    font-size: 15px;
    width: 200px;
    border: none;
}

.LoginPageWrapper button{
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffffffef;
    text-decoration: none;
    width: 200px;
    margin-top: 50px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.LoginPageWrapper button:hover
{
    background: #290235;
    color: white;
    animation: pulse 1.5s;
  }

.LoginPageInputHolder a {
    color: rgb(35, 35, 247);
    padding: 5px;
    margin: 25px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;

}

.LoginPageInputHolder a:hover{
    transition: all 0.3s ease;
    color: purple;
    animation: pulse 1.5s;
}
@keyframes pulse {
    0% {
      transform: scale(.85);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
    }
      100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
    }
  }

